<footer>
  <div class="footer clearfix mb-0 text-muted">
    <div class="float-start">
      <p>2022 &copy; Trumbl</p>
    </div>
  </div>
</footer>
</div>
</div>
<script src="../vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="../js/bootstrap.bundle.min.js"></script>

<script src="../js/pages/dashboard.js"></script>
<script src="../vendors/sweetalert2/sweetalert2.all.min.js"></script>
<script src="../js/main.js"></script>
<script src="../jquery/index.js"></script>
<script src="../vendors/toastify/toastify.js"></script>
<script src="../vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>

</body>

</html>